.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
  clear: both;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid #eee;
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
  float: left;
}

.RichEditor-styleButton {
  color: #999;
  cursor: pointer;
  margin-right: 2px;
  padding: 2px 0;
  display: inline-block;
  border: 1px solid transparent;
}

.RichEditor-styleButton:hover {
  border: 1px solid #dddddd;
}

.RichEditor-styleButton.bold {
  font-weight: bold;
  padding-right: 8px;
  padding-left: 8px;
}

.RichEditor-styleButton.italic {
  font-style: italic;
  padding-right: 10px;
  padding-left: 10px;
}

.RichEditor-styleButton.underline {
  text-decoration: underline;
  padding-left: 8px;
  padding-right: 8px;
}

.RichEditor-styleButton.bullet-list {
  padding-left: 5px;
  padding-right: 5px;
}

.RichEditor-styleButton.numbered-list {
  padding-left: 5px;
  padding-right: 5px;
}

.RichEditor-activeButton {
  background-color: #004a87;
  color: white;
}

.RichEditor-root .link-url-button {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 4px;
  float: left;
  color: #999;
}

.RichEditor-root .link-url-button.active {
  color: white;
  background-color: #004a87;
}

.RichEditor-root .link-url-input {
  float: left;
}

.RichEditor-root .link-url-input input:focus {
  outline: none;
  border: 2px solid #1faff5;
}

.RichEditor-root .url-input-button {
  color: white;
  background: #1faff5;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 26px;
}
