.AppTitle-logo {
  width: 80px;
  height: 80px;
}

.AppTitle-title {
  font-size: 2em;
  font-weight: lighter;
  color: #325d81;
  margin: 0px;
}

.AppTitle-title:focus {
  border: 1px solid blue;
}

.AppTitle-intro {
  font-size: 1em;
  color: #325d81;
  font-weight: lighter;
}

.AppTitle-title-container {
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
  padding-top: 10px;
}

@media (max-width: 415px) {
  .AppTitle-logo {
    width: 60px;
    height: 45px;
    padding-top: 15px;
  }
  .AppTitle-title {
    font-size: 1.5em;
  }
}
